{%- import 'macros/search.html' as macros_search -%}
{%- import 'macros/edit-page.html' as macros_edit_page -%}
{%- import 'macros/social.html' as macros_social -%}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<!--<meta http-equiv="Content-Security-Policy" content="default-src https:">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta property="og:title" content="{% if page.title %}{{ page.title | safe }}{% elif config.extra.minima_title %}{{ config.extra.minima_title | safe }}{% else %}{{ config.title | safe }}{% endif %}">
        <meta property="og:locale" content="{% if meta_lang %}{{ meta_lang }}{% else %}en_US{% endif %}">
        {% if config.description %}   
        <meta name="description" content="{{ config.description | safe }}">
        {% endif %}
        {% if page.description %}
        <meta name="og:description" content="{{ page.description | safe }}">
        {% elif page.summary %}   
        <meta name="og:description" content="{{ page.summary | striptags | safe }}">
        {% endif %}
        <meta property="og:type" content="website">
        {% if config.extra.icon %}
        <meta property="og:image" content="{% if page.extra.thumbnail %}{{ get_url(path=page.path ~ page.extra.thumbnail) | safe }}{% else %}{{ get_url(path="/icon.png") | safe }}{% endif %}">
        {% endif %}
        <meta name="twitter:card" content="summary">
        {% if config.extra.social.links.twitter_username %}
        <meta name="twitter:creator" content="@{{ config.extra.social.links.twitter_username | safe}}">
        <meta name="twitter:site" content="@{{ config.extra.social.links.twitter_username | safe }}">
        {% endif %}
        <meta name="twitter:title" content="{% if page.title %}{{ page.title  | safe}}{% else %}{{ config.title | safe }}{% endif %}">       
        {% if config.extra.icon %}
        {% set prefetch = resize_image(path="icon.png", width=50, height=50) %}
        {% set icon = resize_image(path="icon.png", width=48, height=48) %}
        {% set appletouchicon144 = resize_image(path="icon.png", width=144, height=144) %}
        {% set appletouchicon256 = resize_image(path="icon.png", width=256, height=256) %}
        {% set appletouchicon512 = resize_image(path="icon.png", width=512, height=512) %}
        <link rel="prefetch" href="{{ prefetch.url }}">
        <link rel="icon" href="{{ icon.url }}">
        <link rel="apple-touch-icon" sizes="48x48" href="{{ icon.url }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ appletouchicon144.url }}">
        <link rel="apple-touch-icon" sizes="256x256" href="{{ appletouchicon256.url }}">
        <link rel="apple-touch-icon" sizes="512x512" href="{{ appletouchicon512.url }}">
        {% endif %}
        <meta property="og:url" content="{{ get_url(path="", trailing_slash=false) | safe }}">
        <meta property="og:site_name" content="LINux on MOBile">
        {% if paginator.previous %}
        <link rel="previous" href="{{ paginator.previous | safe }}">
        {% endif %}
        {% if paginator.next %}
        <link rel="next" href="{{ paginator.next | safe }}">
        {% endif %}
	<link rel ="canonical" href="{{ config.base_url | safe }}/">
        <title>{% block title %}{% if config.extra.seo_title %}{{ config.extra.seo_title | safe }}{% else %}{{ config.title | safe }}{% endif %}{% endblock title %}</title>
        {% if config.generate_feeds %}
	    {% for feed_filename in config.feed_filenames %}
            <link rel="alternate" type={% if feed_filename == "feed.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=feed_filename) | safe }}">
	    {% endfor %}
	{% endif %}
        {% block js %}
        {% endblock js %}
        {% block css %}
            <link rel="stylesheet" href="{{ get_url(path="minima.css", trailing_slash=false) | safe }}">
        {% endblock css %}
        {% block extra_head %}
        {% endblock extra_head %}
        {% block seo %}
          {% if config.extra.title_separator %}
            {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
          {% else %}
            {% set title_separator = " | " %}
          {% endif %}
        {% endblock seo %}

	{% if config.extra.gitlab_pages_domain %}
	<script type="text/javascript">
	  var url = window.location.href;
	  if(url.match(/{{ config.extra.gitlab_pages_domain | safe }}/)) {
	    window.location = "{{ config.base_url | safe }}";
	}
	</script> 
	{% endif %}
    </head>
    <body>
         <header class="site-header">
              <div class="wrapper">
                <h1><a class="site-title" rel="author" href="{{ config.base_url | safe }}">{% if config.extra.minima_title %}{{ config.extra.minima_title | safe }}{% else %}{{ config.title | safe }}{% endif %}</a></h1>
                  <nav class="site-nav">
                    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
                    <label for="nav-trigger">
                      <span class="menu-icon">
                        <svg viewBox="0 0 18 15" width="18px" height="15px">
                          <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
                        </svg>
                      </span>
                    </label>
                    {% if config.extra.blog_menu %}
                    <div class="trigger">
                      {% for item in config.extra.blog_menu %}
                        <a class="page-link" href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}">
                            {{ item.name }}
                        </a>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </nav>
              </div>
            </header>
            <main class="page-content" aria-label="Content">
                <div class="wrapper">
                    {% block content %}
                    {% endblock content %}
                </div>
            </main>

            {% block footer %}
              <footer class="site-footer h-card">
                    <data class="u-url" value="{{ config.base_url | safe }}"></data>
                    <div class="wrapper">
                        <h2 class="footer-heading">{% if config.extra.minima_title %}{{ config.extra.minima_title }}{% else %}{{ config.title | escape }}{% endif %}</h2>
                        <div class="footer-col-wrapper">
                        <div class="footer-col footer-col-1">
                            <ul class="contact-list">
                            <li class="p-name">
                                {% if config.author %}
                                {{ config.extra.author | escape }}
                                {% else %}
                                {{ config.title | escape }}
                                {% endif %}
                                </li>
                                {% if config.extra.email %}
                                <li><a class="u-email" href="mailto:{{ config.extra.email }}">{{ config.extra.email | safe }}</a></li>
                                {% endif %}
                                {% if config.extra.footer_logo %}
                                <li><object type="image/svg+xml" data="{{ config.extra.footer_logo }}"></object></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div id="social" class="footer-col footer-col-2">
                            {{ macros_social::social_footer() }}

                        </div>
                        <div class="footer-col footer-col-3">
                            {% if config.extra.description %}
                            <p>{{ config.extra.description | escape }}</p>
                            {% endif %}
                            <p>
                                {% if config.extra.copyright.owner %}
                                &copy; {% if config.extra.copyright.time %}{{ config.extra.copyright.time | safe }}{% endif %} {{ config.extra.copyright.owner | safe }}.
                                {% endif %}
                                {% if config.extra.copyright.license %}Unless otherwise specified, all content on this page is licensed under {% if config.extra.copyright.license_link %}<a rel="license" href="{{ config.extra.copyright.license_link | safe }}">{% endif %}{{ config.extra.copyright.license | safe }}{% if config.extra.copyright.license_link %}</a>{% endif %}.{% endif %}
                            </p>
                            {% if config.extra.footer_menu %}     
                                <p>
                                    {% for item in config.extra.footer_menu %}
                                        <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}">
                                            {{ item.name }}
                                        </a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                        </div>
                        {% if config.extra.footer_credit %}
                        <p class="credit">Proudly powered by <a href="https://www.getzola.org/" rel="generator">Zola</a> and <a href="https://github.com/1peter10/minimola">Minimola</a>.</p>
                    {% endif %}
                    </div>
                    </footer>
            {% endblock footer %}
      {% block js_body %}
      {% endblock js_body %}
    </body>

</html>
