{% macro social_footer() %}
<ul class="social-media-list">
    {% if config.extra.social.links.dribbble_username %}
    <li>
        <a href="https://dribbble.com/{{ config.extra.social.links.dribbble_username| escape }}">
            <svg class="svg-icon"><use xlink:href="{{ 'minima-social-icons.svg#dribbble' }}"></use></svg>
            <span class="username">{{ config.extra.social.links.dribbble_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.facebook_username %}
    <li>
        <a href="https://www.facebook.com/{{ config.extra.social.links.facebook_username| escape }}">
            <svg class="svg-icon"><use xlink:href="{{ 'minima-social-icons.svg#facebook' }}"></use></svg>
            <span class="username">{{ config.extra.social.links.facebook_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.flickr_username %}
    <li>
        <a href="{{ config.extra.social.links.flickr| escape }}">
            <svg class="svg-icon"><use xlink:href="{{ 'minima-social-icons.svg#flickr' }}"></use></svg>
            <span class="username">{{ config.extra.social.links.flickr_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.instagram_username %}
    <li>
        <a href="{{ config.extra.social.links.instagram| escape }}">
            <svg class="svg-icon"><use xlink:href="{{ 'minima-social-icons.svg#instagram' }}"></use></svg>
            <span class="username">{{ config.extra.social.links.instagram_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.linkedin_username %}
    <li>
        <a href="https://www.linkedin.com/in/{{ config.extra.social.links.linkedin_username| escape }}">
            <svg class="svg-icon"><use xlink:href="{{ 'minima-social-icons.svg#linkedin' }}"></use></svg>
            <span class="username">{{ config.extra.social.links.linkedin_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.pinterest_username %}
    <li>
        <a href="https://www.pinterest.com/{{ config.extra.social.links.pinterest_username| escape }}">
            <svg class="svg-icon"><use xlink:href="{{ 'minima-social-icons.svg#pinterest' }}"></use></svg>
            <span class="username">{{ config.extra.social.links.pinterest_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.mastodon_username %}
    <li>
        <a rel="me" href="{{ config.extra.social.links.mastodon  | safe}}">
            <svg class="svg-icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M433 179.11c0-97.2-63.71-125.7-63.71-125.7-62.52-28.7-228.56-28.4-290.48 0 0 0-63.72 28.5-63.72 125.7 0 115.7-6.6 259.4 105.63 289.1 40.51 10.7 75.32 13 103.33 11.4 50.81-2.8 79.32-18.1 79.32-18.1l-1.7-36.9s-36.31 11.4-77.12 10.1c-40.41-1.4-83-4.4-89.63-54a102.54 102.54 0 0 1-.9-13.9c85.63 20.9 158.65 9.1 178.75 6.7 56.12-6.7 105-41.3 111.23-72.9 9.8-49.8 9-121.5 9-121.5zm-75.12 125.2h-46.63v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9 18.41-175 25.9-28.9 79.82-30.8 103.83 6.1l11.6 19.5 11.6-19.5c24.11-37.1 78.12-34.8 103.83-6.1 23.71 27.3 18.4 53 18.4 175z"/></svg>
            <span class="username">{{ config.extra.social.links.mastodon_username|escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.twitter_username %}
    <li>
        <a rel ="me" href="https://twitter.com/{{ config.extra.social.links.twitter_username| escape }}" title="Follow me on Xitter">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
            <span class="username">{{ config.extra.social.links.twitter_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.bluesky_username %}
    <li>
        <a rel ="me" href="https://bsky.app/profile/{{ config.extra.social.links.bluesky_username| escape }}" title="Follow me on Bluesky">
           <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"/></svg> 
           <span class="username">{{ config.extra.social.links.bluesky_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.peertube_username %}
    <li>
        <a href="{{ config.extra.social.links.peertube | safe }}/videos">
            <svg class="svg-icon" version="1.1" viewBox="0 0 33.867 33.867" xmlns="http://www.w3.org/2000/svg">
               <g transform="translate(-14.834 -94.555)">
               <path d="m18.538 96.213v15.275l13.229-7.6377zm13.23 7.6381v15.275l13.229-7.6377zm-13.23 7.6381v15.275l13.229-7.6377z" fill-opacity=".9819"/>
               </g>
            </svg>
            <span class="username">{{ config.extra.social.links.peertube_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.youtube_username %}
    <li>
        <a href="{{ config.extra.social.links.youtube | safe }}">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg>
            <span class="username">{{ config.extra.social.links.youtube_username }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.odysee_username %}
    <li>
        <a href="{{ config.extra.social.links.odysee | safe }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate svg-icon" viewBox="0 0 24 24" class="svg-icon"><defs><clipPath id="_clipPath_8FANzNdzAksNqe68wPUCLCPg4beKQ3ZI"><rect width="24" height="24"/></clipPath></defs><g clip-path="url(#_clipPath_8FANzNdzAksNqe68wPUCLCPg4beKQ3ZI)"><path d=" M 18.499 1.921 C 16.629 0.704 14.396 0 12 0 C 5.377 0 0 5.377 0 12 C 0 12.51 0.032 13.012 0.1 13.503 C 0.094 13.509 0.095 13.514 0.102 13.517 C 0.117 13.692 0.143 13.865 0.176 14.035 C 0.192 14.152 0.214 14.268 0.246 14.38 C 0.299 14.688 0.372 14.988 0.461 15.282 C 0.376 14.985 0.303 14.684 0.246 14.38 C 0.219 14.266 0.198 14.15 0.176 14.035 C 0.149 13.862 0.123 13.69 0.102 13.517 C 0.101 13.512 0.1 13.508 0.1 13.503 C 0.1 13.503 0.1 13.503 0.1 13.503 C 0.531 12.861 2.182 11.465 3.796 10.597 C 5.1 9.895 6.533 9.609 6.914 9.242 C 6.243 7.007 5.032 3.538 7.746 1.912 C 9.881 0.634 12.69 -0.142 13.77 2.958 C 14.851 6.057 14.572 6.754 15.037 6.754 C 15.501 6.754 16.644 6.977 17.128 5.004 C 17.481 3.564 17.699 2.326 18.499 1.921 Z  M 20.791 3.837 C 22.782 5.978 24 8.848 24 12 C 24 18.623 18.623 24 12 24 C 6.727 24 2.244 20.592 0.641 15.858 C 0.661 15.925 0.685 15.992 0.709 16.059 C 0.804 16.147 0.912 16.222 1.029 16.28 C 1.794 16.635 2.918 16.026 3.982 14.923 C 4.301 14.606 4.657 14.331 5.044 14.103 C 5.894 13.555 6.814 13.123 7.779 12.818 C 7.779 12.818 8.822 14.419 9.788 16.317 C 10.755 18.215 8.745 18.847 8.522 18.847 C 8.299 18.847 5.132 18.552 5.839 21.231 C 6.545 23.909 10.415 22.943 12.388 21.639 C 14.361 20.336 13.877 16.094 13.877 16.094 C 15.813 15.796 16.407 17.843 16.593 18.882 C 16.779 19.92 16.361 21.746 18.306 21.786 C 18.579 21.79 18.852 21.747 19.112 21.66 C 19.859 21.108 20.541 20.471 21.142 19.762 C 21.205 19.664 21.241 19.551 21.247 19.435 L 21.247 19.435 L 21.247 19.435 L 21.247 19.435 L 21.247 19.435 L 21.247 19.435 L 21.247 19.435 C 21.173 19.295 19.748 17.111 19.572 15.276 C 19.442 14.005 17.78 12.595 16.784 11.854 C 16.614 11.725 16.51 11.528 16.499 11.315 C 16.489 11.102 16.572 10.895 16.728 10.75 C 17.711 9.821 19.444 8.009 19.992 7.051 C 20.502 6.055 20.776 4.955 20.791 3.837 Z  M 2.769 8.88 C 2.705 8.777 2.568 8.745 2.465 8.81 C 2.362 8.875 2.331 9.011 2.395 9.114 C 2.46 9.218 2.596 9.249 2.7 9.184 C 2.749 9.153 2.785 9.103 2.798 9.046 C 2.811 8.989 2.801 8.929 2.769 8.88 L 2.769 8.88 L 2.769 8.88 L 2.769 8.88 L 2.769 8.88 L 2.769 8.88 L 2.769 8.88 L 2.769 8.88 L 2.769 8.88 L 2.769 8.88 Z  M 15.669 3.106 C 15.604 3.003 15.468 2.972 15.364 3.037 C 15.261 3.101 15.23 3.238 15.295 3.341 C 15.359 3.444 15.496 3.475 15.599 3.411 C 15.648 3.38 15.684 3.33 15.697 3.273 C 15.71 3.216 15.7 3.156 15.669 3.106 L 15.669 3.106 L 15.669 3.106 L 15.669 3.106 L 15.669 3.106 L 15.669 3.106 L 15.669 3.106 L 15.669 3.106 L 15.669 3.106 L 15.669 3.106 Z  M 18.333 11.768 C 18.302 11.907 18.39 12.044 18.528 12.076 C 18.667 12.107 18.805 12.02 18.837 11.881 C 18.868 11.742 18.781 11.604 18.642 11.573 C 18.576 11.557 18.505 11.569 18.447 11.606 C 18.389 11.643 18.348 11.701 18.333 11.768 L 18.333 11.768 L 18.333 11.768 L 18.333 11.768 L 18.333 11.768 L 18.333 11.768 L 18.333 11.768 L 18.333 11.768 L 18.333 11.768 Z  M 14.486 20.364 C 14.468 20.443 14.499 20.526 14.566 20.573 C 14.633 20.62 14.721 20.621 14.789 20.577 C 14.858 20.532 14.892 20.451 14.877 20.371 C 14.861 20.291 14.798 20.228 14.718 20.213 C 14.613 20.193 14.51 20.259 14.486 20.364 L 14.486 20.364 L 14.486 20.364 L 14.486 20.364 L 14.486 20.364 L 14.486 20.364 L 14.486 20.364 L 14.486 20.364 Z  M 4.456 4.916 C 4.441 4.981 4.482 5.046 4.547 5.061 C 4.611 5.076 4.676 5.036 4.691 4.971 C 4.707 4.906 4.667 4.841 4.603 4.826 C 4.571 4.818 4.538 4.823 4.51 4.84 C 4.483 4.857 4.463 4.885 4.456 4.916 L 4.456 4.916 L 4.456 4.916 L 4.456 4.916 L 4.456 4.916 L 4.456 4.916 L 4.456 4.916 Z  M 5.079 16.254 C 5.062 16.162 4.974 16.101 4.882 16.118 C 4.79 16.134 4.728 16.222 4.745 16.315 C 4.762 16.407 4.85 16.468 4.942 16.452 C 4.986 16.444 5.026 16.418 5.051 16.381 C 5.077 16.344 5.087 16.298 5.079 16.254 L 5.079 16.254 L 5.079 16.254 L 5.079 16.254 L 5.079 16.254 L 5.079 16.254 Z  M 20.548 9.767 L 20.276 9.228 L 19.683 9.105 L 20.222 8.833 L 20.343 8.241 L 20.617 8.78 L 21.21 8.901 L 20.671 9.175 L 20.548 9.767 L 20.548 9.767 L 20.548 9.767 L 20.548 9.767 Z  M 12.692 5.59 L 12.644 5.59 C 12.507 5.563 12.418 5.431 12.444 5.295 C 12.503 5.061 12.478 4.814 12.372 4.598 C 12.334 4.473 12.396 4.34 12.516 4.29 C 12.636 4.24 12.774 4.288 12.836 4.403 C 12.98 4.709 13.016 5.056 12.939 5.385 C 12.915 5.503 12.813 5.589 12.692 5.59 L 12.692 5.59 L 12.692 5.59 L 12.692 5.59 L 12.692 5.59 Z  M 11.468 6.889 C 9.495 7.632 8.545 6.656 8.415 4.879 C 8.269 2.869 10.165 2.349 10.165 2.349 C 12.256 1.652 12.806 2.646 13.292 4.136 C 13.777 5.625 13.44 6.152 11.468 6.889 L 11.468 6.889 L 11.468 6.889 L 11.468 6.889 L 11.468 6.889 L 11.468 6.889 L 11.468 6.889 Z  M 12.165 3.636 C 12.069 3.64 11.979 3.59 11.933 3.506 C 11.89 3.424 11.84 3.346 11.784 3.274 C 11.69 3.175 11.69 3.019 11.784 2.92 C 11.88 2.827 12.034 2.827 12.13 2.92 C 12.222 3.025 12.301 3.141 12.362 3.267 C 12.401 3.341 12.401 3.43 12.361 3.504 C 12.322 3.578 12.248 3.627 12.165 3.636 L 12.165 3.636 Z " fill-rule="evenodd"/></g></svg>
            <span class="username">{{ config.extra.social.links.odysee_username }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.gitlab %}
    <li>
        <a href="{{ config.extra.social.links.gitlab | safe }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-icon"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184-226.2-294zm160.8-88l94.3 294 94.3-294zm349.4 88l-28.8-88-226.3 294 247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z"/></svg>
            <span class="url">{{ config.extra.social.links.gitlab_name| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.github_username %}
    <li>
        <a href="https://github.com/{{ config.extra.social.links.github_username| escape }}">
            <svg class="svg-icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
            <span class="username">{{ config.extra.social.links.github_username| escape }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.podcast %}
    <li>
        <a href="{{ config.extra.social.links.podcast | safe }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-icon"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M267.429 488.563C262.286 507.573 242.858 512 224 512c-18.857 0-38.286-4.427-43.428-23.437C172.927 460.134 160 388.898 160 355.75c0-35.156 31.142-43.75 64-43.75s64 8.594 64 43.75c0 32.949-12.871 104.179-20.571 132.813zM156.867 288.554c-18.693-18.308-29.958-44.173-28.784-72.599 2.054-49.724 42.395-89.956 92.124-91.881C274.862 121.958 320 165.807 320 220c0 26.827-11.064 51.116-28.866 68.552-2.675 2.62-2.401 6.986.628 9.187 9.312 6.765 16.46 15.343 21.234 25.363 1.741 3.654 6.497 4.66 9.449 1.891 28.826-27.043 46.553-65.783 45.511-108.565-1.855-76.206-63.595-138.208-139.793-140.369C146.869 73.753 80 139.215 80 220c0 41.361 17.532 78.7 45.55 104.989 2.953 2.771 7.711 1.77 9.453-1.887 4.774-10.021 11.923-18.598 21.235-25.363 3.029-2.2 3.304-6.566.629-9.185zM224 0C100.204 0 0 100.185 0 224c0 89.992 52.602 165.647 125.739 201.408 4.333 2.118 9.267-1.544 8.535-6.31-2.382-15.512-4.342-30.946-5.406-44.339-.146-1.836-1.149-3.486-2.678-4.512-47.4-31.806-78.564-86.016-78.187-147.347.592-96.237 79.29-174.648 175.529-174.899C320.793 47.747 400 126.797 400 224c0 61.932-32.158 116.49-80.65 147.867-.999 14.037-3.069 30.588-5.624 47.23-.732 4.767 4.203 8.429 8.535 6.31C395.227 389.727 448 314.187 448 224 448 100.205 347.815 0 224 0zm0 160c-35.346 0-64 28.654-64 64s28.654 64 64 64 64-28.654 64-64-28.654-64-64-64z"/></svg>
            <span class="url">{{ config.extra.social.links.podcast_name| safe }}</span>
        </a>
    </li>
    {% endif %}
    {% if config.extra.social.links.rss %}
    <li>
        <a href="{{ config.base_url | safe }}/feed.xml" title="Subscribe to this blog in your feed reader of choice!">
            <svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rss" class="svg-inline--fa fa-rss fa-w-14 svg-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path  d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z"></path></svg>
            <span>{{ config.extra.social.links.rss | escape }}</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endmacro %}
